body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Altera para flex-start para que o conteúdo comece no topo */
    min-height: 100vh; /* Usa min-height em vez de height */
}

header {
    background-color: #4CAF50;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000; /* Garante que o cabeçalho fique acima do restante do conteúdo */
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vaga-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.vaga-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.vaga-item {
    background-color: #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    max-width: 300px;
}

.vaga-item img {
    width: 100%;
    height: 200px; /* Defina a altura fixa */
    object-fit: cover; /* Corta a imagem para preencher o contêiner */
    border-radius: 4px;
}

.vaga-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.vaga-item p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #333;
}
